<?xml version="1.0" encoding="utf-8"?>
<DocumentManagerData WebShareDir="/dmdata/" FileTypes="*.doc,*.xls,*.ppt,*.pdf,*.gif,*.jpg,*.jpeg,*.log,*.vsd,*.dot,*.zip,*.swf,*.wma,*.wav,*.avi, *.mp3, *.mp4, *.rm, *.wmv, *.ra, *.mov, *.png,*.docx,*.xlsx,*.pptx, *.vsdx, *.wmf, *.xml, *.htm, *.html, *.flv" PdfGenerator="http://aspnet20.ektron.com/PdfManager/PdfGeneratorService.asmx" LoadBalanced="0" ServicePort="6079" PublishCatalogName="" PrivateCatalogName="" PublishCatalogLoc="" PrivateCatalogLoc="" InstalledVersion="2.01" StorageLocation="c:\assetlibrary\localhost\" UserDomain="JMAYBERRY" DomainName="localhost"/>
