<objectFactory>
  <objectStrategies>
	  <add name="Content">
		  <strategies>
			  <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.ContentStrategy, Cms.Extensions.GoogleGeoCoder"/>
		  </strategies>
	  </add>
	  <add name="User">
		  <strategies>
			  <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.UserStrategy, Cms.Extensions.GoogleGeoCoder"/>
		  </strategies>
	  </add>
	  <add name="CatalogEntry">
		  <strategies>
			  <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.CatalogEntryStrategy, Cms.Extensions.GoogleGeoCoder"/>
		  </strategies>
	  </add>
  </objectStrategies>
</objectFactory>