<?xml version="1.0"?>
<ui>
    <controls>
        <add name="SiteSearchInputView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/SiteSearchInputView.ascx" default="true" />
            </templates>
        </add>
        <add name="SiteSearchResultsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/SiteSearchResultsView.ascx" default="true" />
            </templates>
        </add>
        <add name="XmlSearchInputView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/XmlSearchInputView.ascx" default="true" />
            </templates>
        </add>
        <add name="XmlSearchResultsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/XmlSearchResultsView.ascx" default="true" />
            </templates>
        </add>
    </controls>
    <registration>
    </registration>
</ui>
