<objectFactory>
	<objectStrategies>
		<add name="Blog">
			<strategies>
				<add name="CmsBlogStrategy" type="Ektron.Cms.Content.CmsBlogStrategy, Ektron.Cms.Content"/>
			</strategies>
		</add>
		<add name="CommunityGroup">
			<strategies>
			</strategies>
		</add>
		<add name="Region">
			<strategies>
			</strategies>
		</add>
		<add name="Country">
			<strategies>
			</strategies>
		</add>
	</objectStrategies>
	<objectImplementations>
	</objectImplementations>
</objectFactory>